<div class="clearfix">

<div class="well" ng-switch="state">
  <div ng-switch-when="inactive"><h3>Стање скупштине <span class="label label-warning">неактивно</span></h3></div>
  <div ng-switch-when="act"><h3>Стање скупштине <span class="label label-success">активно - акт</span></h3></div>
  <div ng-switch-when="amendment"><h3>Стање скупштине <span class="label label-success">активно - амандмани</span></h3></div>
  <div ng-switch-when="end"><h3>Стање скупштине <span class="label label-warning">неактивно - гласање</span></h3></div>
</div>

	<div ui-view></div>
	
</div>

